# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
#/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

admin/assets/*
backend/runtime/*
backend/config/main-local.php
backend/config/params-local.php

assets/*
frontend/runtime/*
frontend/config/main-local.php
frontend/config/params-local.php

common/config/main-local.php
common/config/params-local.php

console/runtime/*
console/config/main-local.php
console/config/params-local.php
