# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

www/admin/assets/*
site/backend/runtime/*
site/backend/config/main-local.php
site/backend/config/params-local.php

www/assets/*
site/frontend/runtime/*
site/frontend/config/main-local.php
site/frontend/config/params-local.php

site/common/config/main-local.php
site/common/config/params-local.php

site/console/runtime/*
site/console/config/main-local.php
site/console/config/params-local.php