# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store


/www/assets/*
/www/uploads/.tmb
/www/admin/assets/*

/www/index-test.php
/www/requirements.php
/www/admin/uploads/.tmb
/www/admin/index-test.php

/app/backend/runtime/*
/app/backend/config/main-local.php
/app/backend/config/params-local.php

/app/frontend/runtime/*
/app/frontend/config/main-local.php
/app/frontend/config/params-local.php

/app/common/config/main-local.php
/app/common/config/params-local.php

/app/console/config/main-local.php
/app/console/config/params-local.php

/vendor/*
!/vendor/bower

/sonar-project.properties
